<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <clover outputFile="build/coverage/clover.xml"/>
            <html outputDirectory="build/coverage/html"/>
            <text outputFile="build/coverage/coverage.txt" showOnlySummary="true"/>
        </report>
    </coverage>
    <php>
        <env name="APP_NAME" value="ARCANEDEV"/>
        <env name="DB_DATABASE" value="laravel_db"/>
        <env name="DB_USERNAME" value="laravel_user"/>
        <env name="DB_PASSWORD" value="password"/>
    </php>
</phpunit>
